<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    {% if request.path == '/' or request.path|slice:5 == '/page' or request.path|slice:6 == '/error' %}
    <title>Automated News Website By Paras Gupta </title>
    <meta name="keywords" content="news,news website,automated news,django,python">
    <meta name="description" content="The "Automated Django News Website Made By Paras Gupta" is an innovative online news platform that leverages the power of Django, a popular Python web framework, to deliver timely and relevant news content to its users. Developed by Paras Gupta, this website offers a unique and efficient approach to news aggregation and presentation.">
    <meta name="author" content="Paras Gupta">
    {% elif request.path|slice:9 == '/category' %}
    <title>Category: {{cat}} </title>
    <meta name="keywords" content="news,news website,automated news,django,python">
    <meta name="description" content="The "Automated Django News Website Made By Paras Gupta" is an innovative online news platform that leverages the power of Django, a popular Python web framework, to deliver timely and relevant news content to its users. Developed by Paras Gupta, this website offers a unique and efficient approach to news aggregation and presentation.">
    <meta name="author" content="Paras Gupta">
    {% else %}
    <title>{{blog_obj.title}}</title>
    <meta name="keywords" content="{% for tag in tags %}{{tag}},{% endfor %}">
    <meta name="description" content="{{blog_obj.summary}}">
    <meta name="author" content="{{blog_obj.user.username}}">
    {% endif %}
    <!-- Site Icons -->
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="apple-touch-icon" href="/media/images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/media/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/media/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/media/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="/media/css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/media/images/logo.png" style="height:50px" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                    {% for category in categories %}
                                    <li><a class="dropdown-item" href="{% url "category_view" category.name %}">{{category.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/CodexParas/django-automated-news">Source Code</a>
                            </li>                   
                            <li class="nav-item">
                                <a class="nav-link" href="https://linktr.ee/paras_gupta">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://wa.me/918650331600">Contact Me</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/feed"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/gupta-paras/"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/CodexParas/"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
        {% block start %}


        {% endblock %}
        {% if popular_posts %}
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="sidebar">
                <div class="widget">
                    <h2 class="widget-title">Popular Posts</h2>
                    <div class="blog-list-widget">
                        <div class="list-group">
                          {% for blog in popular_posts %}
                            <a href="{% url 'blog_detail' blog.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="w-100 justify-content-between">
                                    <img src="/media/{{blog.image}}" alt="" class="img-fluid float-left">
                                    <h5 class="mb-1">{{blog.title}}</h5>
                                    {% comment %} <p>{{blog.content|safe|slice:10}}</p> {% endcomment %}
                                    <small>{{blog.created_at}}</small>
                                </div>
                            </a>
                            {% endfor %}
                        </div> 
                    </div><!-- end blog-list -->
                </div><!-- end widget -->
            </div><!-- end sidebar -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
</section>
{% endif %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="/"><img src="/media/images/logo.png" alt="" class="img-fluid"></a>
                                <p>The "Automated Django News Website Made By Paras Gupta" is an innovative online news platform that leverages the power of Django, a popular Python web framework, to deliver timely and relevant news content to its users. Developed by Paras Gupta, this website offers a unique and efficient approach to news aggregation and presentation.</p>
                                <div class="social">
                                    <a href="https://www.facebook.com/techyparas/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="https://twitter.com/techyparas" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="https://github.com/CodexParas/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/gupta-paras/" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-linkedin"></i></a>
                                </div>

                                <hr class="invis">
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Important Links</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="https://linktr.ee/paras_gupta">About Me</a></li>
                                    <li><a href="https://wa.me/918650331600">Contact me</a></li>
                                    <li><a href="https://github.com/CodexParas/django-automated-news">Source Code</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Automated News Website. Design: <a href="https://github.com/CodexParas/">CodeXParas</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/tether.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/custom.js"></script>

</body>
</html>